services:
  frontend:
    build:
      context: ./Frontend/Auscultify
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    depends_on:
      - database

  database:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mydb
    ports:
      - "3308:3306"
    volumes:
      - ./BaseDatos/init.sql:/docker-entrypoint-initdb.d/init.sql
      - mysql_data:/var/lib/mysql

  auth:
    build:
      context: ./Backend/IniciarSesion
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    depends_on:
      - database
    environment:
      - PORT=3001
      - JWT_SECRET=tu_secreto_jwt_super_seguro
      - DB_HOST=database
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=mydb
      - DB_PORT=3306

  register:
    build:
      context: ./Backend/Registrarse
      dockerfile: Dockerfile
    ports:
      - "3002:3002"
    depends_on:
      - database
    environment:
      - PORT=3002
      - JWT_SECRET=tu_secreto_jwt_super_seguro
      - DB_HOST=database
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=mydb
      - DB_PORT=3306

  modificar-perfil:
    build:
      context: ./Backend/ModificarPerfil
      dockerfile: Dockerfile
    ports:
      - "3003:3003"
    depends_on:
      - database
    environment:
      - PORT=3003
      - JWT_SECRET=tu_secreto_jwt_super_seguro
      - DB_HOST=database
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=mydb
      - DB_PORT=3306

  eliminar-cuenta:
    build:
      context: ./Backend/EliminarCuenta
      dockerfile: Dockerfile
    ports:
      - "3004:3004"
    depends_on:
      - database
    environment:
      - PORT=3004
      - JWT_SECRET=tu_secreto_jwt_super_seguro
      - DB_HOST=database
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=mydb
      - DB_PORT=3306

  obtener-usuarios-publicos:
    build: ./Backend/ObtenerUsuariosPublicos
    ports:
      - "3005:3005"
    depends_on:
      - database
    environment:
      - PORT=3005
      - JWT_SECRET=tu_secreto_jwt_super_seguro
      - DB_HOST=database
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=mydb
      - DB_PORT=3306

  seguir-usuario:
    build:
      context: ./Backend/SeguirUsuario
      dockerfile: Dockerfile
    ports:
      - "3006:3006"
    depends_on:
      - database
    environment:
      - PORT=3006
      - JWT_SECRET=tu_secreto_jwt_super_seguro
      - DB_HOST=database
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=mydb
      - DB_PORT=3306

  obtener-siguiendo:
    build:
      context: ./Backend/ObtenerSiguiendo
      dockerfile: Dockerfile
    ports:
      - "3007:3007"
    depends_on:
      - database
    environment:
      - PORT=3007
      - JWT_SECRET=tu_secreto_jwt_super_seguro
      - DB_HOST=database
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=mydb
      - DB_PORT=3306

  eliminar-siguiendo:
    build:
      context: ./Backend/EliminarSiguiendo
      dockerfile: Dockerfile
    ports:
      - "3008:3008"
    depends_on:
      - database
    environment:
      - PORT=3008
      - JWT_SECRET=tu_secreto_jwt_super_seguro
      - DB_HOST=database
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=mydb
      - DB_PORT=3306
  
  crear-categoria:
    build: 
      context: ./Backend/CrearCategoria
      dockerfile: Dockerfile
    ports:
      - "3009:3009"
    depends_on:
      - database
    environment:
      - PORT=3009
      - JWT_SECRET=tu_secreto_jwt_super_seguro
      - DB_HOST=database
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=mydb
      - DB_PORT=3306
    volumes:
      - ./Audios:/app/Audios
      
volumes:
  mysql_data:

