services:
  frontend:
    build:
      context: ./Frontend/Auscultify
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    depends_on:
      - database

  database:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mydb
    ports:
      - "3308:3306"
    volumes:
      - ./BaseDatos/init.sql:/docker-entrypoint-initdb.d/init.sql
      - mysql_data:/var/lib/mysql

  sincronizar-datos:
    build: 
      context: ./Backend/SincronizarDatos
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    depends_on:
      - database
    environment:
      - PORT=3001
      - JWT_SECRET=tu_secreto_jwt_super_seguro
      - DB_HOST=database
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=mydb
      - DB_PORT=3306
    volumes:
      - ./Audios:/app/Audios
  
  gestion-autentificacion:
    build:
      context: ./Backend/GestionAutentificacion
      dockerfile: Dockerfile
    ports:
      - "3002:3002"
    depends_on:
      - database
    environment:
      - PORT=3002
      - JWT_SECRET=tu_secreto_jwt_super_seguro
      - DB_HOST=database
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=mydb
      - DB_PORT=3306

  gestor-perfil-usuario:
    build: 
      context: ./Backend/GestionPerfil
      dockerfile: Dockerfile
    ports:
      - "3003:3003"
    depends_on:
      - database
    environment:
      - PORT=3003
      - JWT_SECRET=tu_secreto_jwt_super_seguro
      - DB_HOST=database
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=mydb
      - DB_PORT=3306

  gestion-siguiendo:
    build:
      context: ./Backend/GestionSiguiendo
      dockerfile: Dockerfile
    ports:
      - "3004:3004"
    depends_on:
      - database
    environment:
      - PORT=3004
      - JWT_SECRET=tu_secreto_jwt_super_seguro
      - DB_HOST=database
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=mydb
      - DB_PORT=3306
  
  gestion-categoria:
    build:
      context: ./Backend/GestionCategoria
      dockerfile: Dockerfile
    ports:
      - "3005:3005"
    depends_on:
      - database
    environment:
      - PORT=3005
      - JWT_SECRET=tu_secreto_jwt_super_seguro
      - DB_HOST=database
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=mydb
      - DB_PORT=3306
    volumes:
      - ./Audios:/app/Audios

  gestionar-preguntas:
    build: 
      context: ./Backend/GestionarPreguntas
      dockerfile: Dockerfile
    ports:
      - "3012:3012"
    depends_on:
      - database
    environment:
      - PORT=3012
      - JWT_SECRET=tu_secreto_jwt_super_seguro
      - DB_HOST=database
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=mydb
      - DB_PORT=3306
    volumes:
      - ./Audios:/app/Audios

  obtener-algoritmos:
    build: 
      context: ./Backend/ObtenerAlgoritmos
      dockerfile: Dockerfile
    ports:
      - "3013:3013"
    depends_on:
      - database
    environment:
      - PORT=3013
      - JWT_SECRET=tu_secreto_jwt_super_seguro
      - DB_HOST=database
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=mydb
      - DB_PORT=3306

  gestor-algoritmos:
    build: 
      context: ./Backend/GestorAlgoritmos
      dockerfile: Dockerfile
    ports:
      - "3014:3014"
    depends_on:
      - database
    environment:
      - PORT=3014
      - JWT_SECRET=tu_secreto_jwt_super_seguro
      - DB_HOST=database
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=mydb
      - DB_PORT=3306

  gestor-datos-usuario-preguntas:
    build: 
      context: ./Backend/GestorDatosUsuarioPreguntas
      dockerfile: Dockerfile
    ports:
      - "3015:3015"
    depends_on:
      - database
    environment:
      - PORT=3015
      - JWT_SECRET=tu_secreto_jwt_super_seguro
      - DB_HOST=database
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=mydb
      - DB_PORT=3306

volumes:
  mysql_data:

