.contenido-estadisticas-grupal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.contenedor-titulo-estadisticas-grupal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  width: 100%;
}

.contenedor-titulo-estadisticas-grupal p {
  font-size: 2vw;
  font-weight: bold;
  color: white;
}

.contenedor-datos-numericos-grupo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:35vh;
}

.contenedor-datos-seguidor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:100%;
}

.contenedor-datos-seguidor-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100%;
}

.contenedor-datos-seguidor-titulo p {
  font-size: 1.5vw;
  font-weight: bold;
  color: white;
}

.contenedor-datos-siguiendo-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100%;
}

.contenedor-datos-siguiendo-titulo p {
  font-size: 1.5vw;
  font-weight: bold;
  color: white;
}

.contenedor-datos-siguiendo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:100%;
}

.contenedor-datos-numericos-grupo-superior-izquierda {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:15vh;
  gap: 4vw;
  background-color: #00a216;
}

.contenedor-datos-numericos-grupo-superior-derecha {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:15vh;
  gap: 4vw;
  background-color: #0500a2;
}

.contenedor-dato-numerico-individual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12vw;
  height: 11vh;
  background-color: #425067;
  border-radius: 1.2vh;
  border: 0.5vh solid #6A82B1;
  color: #ffffff;
  font-size: 2vh;
  font-weight: bold;
  box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contenedor-dato-numerico-individual-titulo {
  width:100%;
  height: 4.5vh;
  background-color: #556B8C;
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
}

.contenedor-dato-numerico-individual-titulo p {
  font-size: 1.04vw;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 0.5vh;
}

.contenedor-dato-numerico-individual-valor {
  width:100%;
  height: 6.5vh;
}

.contenedor-dato-numerico-individual-valor p {
  font-size: 2.25vw;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: -1vh;
}

.contenedor-datos-numericos-grupo-inferior-izquierda {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:15vh;
  gap: 4vw;
  background-color: #9aa200;
}

.contenedor-datos-numericos-grupo-inferior-derecha {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:15vh;
  gap: 4vw;
  background-color: #a20000;
}

.contenedor-graficas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 36vh;
}

.grafica-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24vw;
  height: 30vh;
  background-color: #556B8C;
  border-radius: 1vh;
  border: 0.3vh solid #6A82B1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.grafica-container h3 {
  font-size: 1.2vw;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 1vh 0;
  text-align: center;
}


/* Estilos para Seguidor (azulito) */
.contenedor-dato-numerico-individual-seguidor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12vw;
  height: 11vh;
  background-color: #4267a8;
  border-radius: 1.2vh;
  border: 0.5vh solid #6a8fd1;
  color: #ffffff;
  font-size: 2vh;
  font-weight: bold;
  box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contenedor-dato-numerico-individual-titulo-seguidor {
  width:100%;
  height: 4.5vh;
  background-color: #5578b8;
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
}

.contenedor-dato-numerico-individual-titulo-seguidor p {
  font-size: 1.04vw;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 0.5vh;
}

.contenedor-dato-numerico-individual-valor-seguidor {
  width:100%;
  height: 6.5vh;
}

.contenedor-dato-numerico-individual-valor-seguidor p {
  font-size: 2.25vw;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: -1vh;
}

/* Estilos para Siguiendo (rosita) */
.contenedor-dato-numerico-individual-siguiendo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12vw;
  height: 11vh;
  background-color: #a84267;
  border-radius: 1.2vh;
  border: 0.5vh solid #d16a8f;
  color: #ffffff;
  font-size: 2vh;
  font-weight: bold;
  box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contenedor-dato-numerico-individual-titulo-siguiendo {
  width:100%;
  height: 4.5vh;
  background-color: #b85578;
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
}

.contenedor-dato-numerico-individual-titulo-siguiendo p {
  font-size: 1.04vw;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 0.5vh;
}

.contenedor-dato-numerico-individual-valor-siguiendo {
  width:100%;
  height: 6.5vh;
}

.contenedor-dato-numerico-individual-valor-siguiendo p {
  font-size: 2.25vw;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: -1vh;
}
