.primera-mitad {
    height: 100%;
    width: 25vw;
    border-right: 0.57vw solid #9DA8DB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primera-mitad-cuadro-logo {
    height:20%;
    width:75%;
    background-color: #5886FB;
    margin-top:2.3vh;
    border-radius:1.5vh;
    border: 0.30vw solid #75A7C6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-normal{
    height: 9vh;
    width:75%;
    background-color: #323B4D;
    border: 0.30vw solid #475268;
    margin-top:5.5vh;
    border-radius:1.5vh;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: flex;
    align-items: center;
    padding: 0vw 1.5vw;
    color: white;
    font-size: 2.2vh;
    font-weight: bold;
}

.boton-normal:hover {
    background-color: #4a5568;
    border: 0.30vw solid #5a6a7a;
    cursor: pointer;
}

.boton-seleccionado {
    height: 9vh;
    width:75%;
    background-color: #4a6a83;
    border: 0.30vw solid #5b88da;
    margin-top:5.5vh;
    border-radius:1.5vh;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: flex;
    align-items: center;
    padding: 0vw 1.5vw;
    color: white;
    font-size: 2.2vh;
    font-weight: bold;
}

.boton-seleccionado:hover {
    background-color: #5c7a96;
    border: 0.30vw solid #6d9aed;
    cursor: pointer;
}

.boton-imagen {
    height: 60%;
    width: auto;
    margin-right: 1vw;
    object-fit: contain;
}

.boton-cerrar-sesion {
    height: 6.5vh;
    width:41%;
    background-color: #C43D2E;
    border: 0.30vw solid #700606;
    margin-top:5.5vh;
    border-radius:1.5vh;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: flex;
    align-items: center;
    color: white;
    padding: 0vw 1.5vw;
    font-size: 2vh;
    font-weight: bold;
    box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.25);
}

.boton-cerrar-sesion:hover {
    background-color: #d94b3c;
    border: 0.30vw solid #8a0808;
    cursor: pointer;
}

.boton-normal-admin{
    height: 7vh;
    width:75%;
    background-color: #323B4D;
    border: 0.30vw solid #475268;
    margin-top:3.5vh;
    border-radius:1.5vh;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: flex;
    align-items: center;
    padding: 0vw 1.5vw;
    color: white;
    font-size: 1.8vh;
    font-weight: bold;
}

.boton-normal-admin:hover {
    background-color: #4a5568;
    border: 0.30vw solid #5a6a7a;
    cursor: pointer;
}

.boton-seleccionado-admin {
    height: 7vh;
    width:75%;
    background-color: #4a6a83;
    border: 0.30vw solid #5b88da;
    margin-top:3.5vh;
    border-radius:1.5vh;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: flex;
    align-items: center;
    padding: 0vw 1.5vw;
    color: white;
    font-size: 1.8vh;
    font-weight: bold;
}

.boton-seleccionado-admin:hover {
    background-color: #5c7a96;
    border: 0.30vw solid #6d9aed;
    cursor: pointer;
}

.boton-cerrar-sesion-admin {
    height: 5.5vh;
    width:41%;
    background-color: #C43D2E;
    border: 0.30vw solid #700606;
    margin-top:3.5vh;
    border-radius:1.5vh;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: flex;
    align-items: center;
    color: white;
    padding: 0vw 1.5vw;
    font-size: 1.6vh;
    font-weight: bold;
    box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.25);
}

.boton-cerrar-sesion-admin:hover {
    background-color: #d94b3c;
    border: 0.30vw solid #8a0808;
    cursor: pointer;
}

.segunda-mitad {
    height: 100%;
    width: 75vw;
}